/* reset  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css  */

/* typo */
* {
    font-family: sans-serif;
}

/* svg */

.svgcenternavbar {
    width: 25px;
    height: 25px; 
    position: relative;
    margin: 4px 4px 4px 4px;
    top: -5px; left: 12px;
}

.svgcenter {
    position: relative;
    margin: 4px 4px 4px 4px;
    left: 25px;
}

#svglogo {

    width: 10%;
}

/* header */
header {
    background-color: #e60012;
    position:fixed;
    width:100%;
    z-index: 1;
}

header  ul {
    display: flex;
    justify-content: end;
}

header  li {
    display:inline;
    margin: 10px;
    color: white;
}

header  li:hover {
    cursor: pointer;
    text-decoration: underline;
}

header li svg {
    display: flex;
    width: 20px;
    height: 20px;
}

/* main */
main {
    background-color: rgba(201, 197, 197, 0.384);
    display: flex;
    /* justify-content: space-between; */
}

/* left aside */
.leftaside {
    display: flex;
    background-color: #b50e0e;
    width: 10vh;
    height: 100vh;
    position:fixed;
    top:75px;
}

.leftaside ul {
    display: flex;
    flex-direction: column;
    background-color: #e60012;
}

.leftaside li {
    padding: 10px;
    color: white;
    text-align: center;
    justify-content: center;
    border-top: .1px solid #bf0010;
}

.leftaside li:hover {
    cursor: pointer;
    background-color: #b50e0e;
}

.leftaside li svg {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
}

/* right aside */
.rightaside {
    display: flex;
    flex-direction: column;
    width: 10vh;
    height: 100vh;
    position: absolute;
    right: 0;
    top: -350px;
    padding-right: 300px;
    padding-top: 0;
}

.rightaside ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
    font-size: large;
    width: 390px;
    height: 70px;
    border: whitesmoke;
}

.rightaside li {
    background-color: white;
    padding-top: 25px;
    border: whitesmoke;
    margin: 10px 0;
    display: flex;
}

.rightaside li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.rightaside h1{
    font-weight: bold;
}

.rightaside h1:hover{
    cursor: default;
    text-decoration: none;
    }

/* grid */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-left: 90px;
    margin-top:70px;
  }

  .grid-container img:hover {
    box-shadow:  0px 5px grey;
    padding-top: 1px;
  }

  .grid-item {
    margin:2px 2px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item1{
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 30px;
    text-align: center;
  }

  .grid-item4{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    margin-top:0px;
  }